.app__resume {
  background-color: rgb(235, 234, 234);
  min-height: 100vh;
  width: 100vw;
}
.peronalInfo {
  margin-top: 10vh;
  border-right: 1px solid rgba(128, 128, 128, 0.88);
}
.avatarbg {
  position: relative;
  background-color: lightblue;
  height: 120px;
  width: auto;
  display: flex;
  justify-content: space-around;
}
.avatar {
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 2px solid rgb(15, 15, 144);
  margin-top: 10%;
}
.avatar::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  top: 0;
  left: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
}
.avatar:hover::after {
  cursor: pointer;
  transition-duration: 0.3s;
  background-color: rgba(6, 137, 181, 0.842);
}
.change__avatar-label {
  position: absolute;
  z-index: 1000;
  top: 40%;
  left: 20%;
  cursor: pointer;
  display: none;
  color: white;
  font-style: italic;
  font-size: 16px;
  text-align: center !important;
}
.avatar:hover .change__avatar-label {
  display: table;
}
.app__positioned-div {
  margin-top: 80px;
}
.app__userName-title {
  font-size: 20px;
  opacity: 0.8;
}
.app__job-title {
  font-size: 17px;
}
.app__user-experience {
  font-size: 17px;
}
.app__education-edit {
  float: right;
}
.app__education-btn {
  color: rgb(11, 162, 222);
  font-size: 22px;
}
.app__education-lists {
  font-size: 15px;
  color: grey;
}

.submit-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit__personal-info {
  background-color: rgb(2, 192, 255);
  color: white;
  border: none;
  outline: none;
  border: 1px solid rgb(15, 15, 144);
  transition: all 0.3s ease-in;
  width: 150px;
  padding: 8px;
  border-radius: 5px;
}
.submit__personal-info:hover {
  background-color: white;
  color: navy;
  transition-duration: 0.3s;
}
.changeAvatar {
  background-color: rgb(2, 192, 255);
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(15, 15, 144);
  transition: all 0.3s ease-in;
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  border-radius: 5px;
}
.changeAvatar:hover {
  background-color: white;
  transition-duration: 0.3s;
  color: navy;
}
.addEducation {
  padding-left: 20px;
  padding-right: 20px;
  /* transform: translateY(-50%); */
  border: none;
  outline: none;
  background-color: rgba(6, 137, 181, 0.842);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  /* width: 220px; */
}
.removeBtn {
  background-color: red;
  color: white;
  border: none;
  outline: none;
  padding: 12px;
  border-radius: 12px;
  transform: translateY(13%);
}
.experienceTr {
  font-size: 13px;
  font-family: calibri;
}
.experienceTr > a {
  color: black;
}
.tableHeadings {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
