* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 90vh;
  width: 100%;
  background-image: url("../../assets/edward-blanco-cE8ZHeURGeM-unsplash.jpg");
  background-size: 100% 100%;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-flex {
  margin: auto;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 60vh;
  align-items: center;
  justify-content: center;
}

.main-head h1 {
  white-space: nowrap;
  color: aliceblue;
  overflow: hidden;
  font-family: French Script MT;
  font-size: 5rem;
  animation: buildCV 2s linear alternate-reverse infinite;
}

@keyframes buildCV {
  0% {
    width: 0ch;
    color: greenyellow;
    border-bottom: 2px solid greenyellow;
  }

  50% {
    color: teal;
    border-bottom: 2px solid teal;
  }

  75% {
    color: brown;
    border-bottom: 2px solid brown;
  }

  100% {
    width: 12.4ch;
    color: rgb(218, 218, 12);
    border-bottom: 2px solid yellow;
  }
}

.head {
  color: rgb(97, 231, 97);
  font-size: 3em;
  text-align: center;
  font-family: French Script MT;
  font-size: 4rem;
}

.btn__generate-cv {
  position: relative;
  height: 6vh;
  line-height: 6vh;
  text-align: center;
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
  outline: none;
  transition-duration: 0.6s;
}

.btn__generate-cv:hover {
  background-color: rgba(34, 34, 34, 0.89);
  color: honeydew;
  border: none;
  outline: none;
  cursor: pointer;
  font-style: italic;
  transition: 0.6s;
}
.link-generate-cv {
  position: relative;
  height: 100%;
  width: 100%;
  color: black;
}
.btn__generate-cv:hover .link-generate-cv {
  color: honeydew !important;
}
@media screen and (max-width: 550px) {
  .main-flex {
    width: 85%;
  }
  .main-head > h1 {
    font-size: 36px;
  }
}
